
   {{> header}}

<form action="/upload-file" enctype="multipart/form-data" method="post">

  <div class="card text-center">
    <div class="card-header">
      <marquee behavior="scroll" direction="left" scrollamount="8">
        <img src="./images/IDEC.jpg" alt="">
        Tiempos de Gloria
        <img src="./images/IDEC.jpg" alt="">
      </marquee>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to
        additional content.</p>

      <input
        type="file"
        name="uploaded_file"
        id="archivoInput"
        class="form-control-file btn btn-primary"
        onchange="return validarExt()"
        multiple
      />

    </div>
    <input type="submit" value="Upload" id="upload" class="btn btn-primary" />
    <div class="card-footer text-muted">
      2 days ago
    </div>
  </div>

</form>
<div id="visorArchivo" class="card text-center">
    <!--Aqui se desplegará el fichero-->
</div>