<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="moda fad"
  id="exampleModa"
  tabindex="1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign up &and& Sign in</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="main">
          <input type="checkbox" id="chk" aria-hidden="true" />

          <div class="login">
            <form class="form" action="/api/auth/signin" method="post">
              <label for="chk" aria-hidden="true">Log in</label>
              <input
                class="input"
                type="text"
                name="username"
                placeholder="Username"
                required=""
              />
              
              <input
                class="input"
                type="password"
                name="password"
                placeholder="Password"
                required=""
              />
              <button>Log in</button>
            </form>
          </div>

          <div class="register">
            <form class="form" action="/api/auth/signup" method="post">
              <label for="chk" aria-hidden="true">Register</label>
              <input
                class="input"
                type="text"
                name="username"
                placeholder="Username"
                required=""
              />
              <input
                class="input"
                type="email"
                name="email"
                placeholder="Email"
                required=""
              />
              <input
                class="input"
                type="password"
                name="password"
                placeholder="Password"
                required=""
              />
              <button>Register</button>
            </form>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
        >Close</button>
      </div>
    </div>
  </div>
</div>