{{layouts/main}}
{{> header}}

{{#if user}}
  <div class="user">
    <li class="fas fa-user icon-user"><img src="#" alt="" /></li>
      <span class="user-online">
        {{#each user}} 
          
                        
          {{username}}
                      
      {{/each}}Online
      </span>
        
                                        
  </div>
{{/if}}

<section class="section my-4">
  <div class="container text-center">
    <section class="mt-5">
      <div class="rows">
              {{! bootstrap cads }}
        {{#each images}}
          {{#each this}}
            {{#if imageBase64}}
        <div class="col">           
        
              <div class="card shadow card-BG">
                  <img
                    src="data:{{contentType}};base64,{{imageBase64}}"
                    class="card-img-top"
                    class="img-fluid"
                    alt="..."
                  />
                  <div class="card-body">
                    <h5 class="card-title font-poppins">UI/UX Design</h5>
                    <p class="text-secondary font-size-09">Some quick example
                      text to build on the card title and make up the bulk of
                      the card's content.</p>
                    <a
                      href="#"
                      class="btn btn-info font-size-09 text-light"
                    >Read More...</a>
                  </div>
                </div>
        
        </div>
            {{/if}}
          {{/each}}
        {{/each}}
              {{! /bootstrap cads }}
      </div>
    </section>
  </div>
</section>