<!-- Button trigger modal -->
{{layouts/main}}

<!-- Modal -->
<div
  class="moda fad"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="false"
>
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <div class="main">
          <input type="checkbox" id="chk" aria-hidden="true" />

          <div class="login">
            <form class="form" action="/signin" method="post">
              <label for="chk" aria-hidden="true">Log in</label>
              <input
                class="input"
                type="text"
                name="username"
                placeholder="Username"
                required=""
              />

              <input
                class="input"
                type="password"
                name="password"
                placeholder="Password"
                required=""
              />
              <button type="submit">SignIn</button>
            </form>
          </div>
          
        </div>

      </div>
      
    </div>
  </div>
</div>




<style>
  .form { display: flex; flex-direction: column; gap: 14px; padding: 24px;
  margin: auto; justify-content: center; align-items: center; } .fad{ display:
  grid; margin: au }
</style>