{{layouts/main}}

<div
  class="moda fad"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="false"
>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-body">
        <div class="main">
          <input type="checkbox" id="chk" aria-hidden="true" />

          <div class="register">
            <form class="form" action="/signup" method="POST">
              <label for="chk" aria-hidden="true">Register</label>
              <input
                class="input"
                type="text"
                name="username"
                placeholder="Username"
                required=""
              />
              <input
                class="input"
                type="email"
                name="email"
                placeholder="Email"
                required=""
              />
              <input
                class="input"
                type="password"
                name="password"
                placeholder="Password"
                required=""
              />
              <button type="submit">SignUp</button>
            </form>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>



<style>
  .form { display: flex; flex-direction: column; gap: 14px; padding: 24px;
  margin: auto; justify-content: center; align-items: center; } .fad{ display:
  grid; margin: au }
</style>