header {
    width: 100%;
    
    margin: auto;
}

nav {
    justify-content: start;
    display: flex;
    align-items: center;
}

.mynav:hover {
    background-color: rgba(0, 0, 0, 0.168);
}

.contLog {
    display: flex;
    background: white;
    margin:auto;
    align-items: center;
}

.letTitle {
    display: inline-flex;
}

.logoidec {
    width: 70px;
    height: 70px;
}

.listIDEC {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoidecCola {
    width: 23px;
}

.listSpanIDEC {
    font-size: 3rem;
    font-weight: 800;
    color: darkblue;
    padding: 5px;
}