.profile {
    width: auto;
    height: auto;
    /*background-image: linear-gradient(10deg, #141619, #dee2e6 60%, #141619);
    */background: #1e1e2b;
    border: none;
    position: relative;
    font-family: inherit;
    margin: 0.5rem 1rem;
    padding: 2rem 0;
    border-radius: 30px;
    z-index: -1;
}

.profile span {
    font-weight: 600;
    color: white;
    text-align: center;
    display: block;
    padding-top: 10px;
    font-size: 1.3em;
}

.profile .job {
    font-weight: 400;
    color: white;
    display: block;
    text-align: center;
    padding-top: 5px;
    font-size: 1em;
}

.profile .img {
    width: 100px;
    height: 100px;
    background: #e8e8e8;
    border-radius: 100%;
    margin: auto;
    margin-top: 20px;
    display: block;
}
.fa-user-circle:before {
    content: "\f2bd";
    width: 70px;
    height: 70px;
    background: rgba(102, 194, 255, 0.412);
    border-radius: 100%;
    margin: auto;
    font-size: 100;
    display: flex;
    justify-content: center;
}

.user-table{
    margin: 2rem 1rem;
}