article{
   margin: 0;
   padding: 0;
}
.sobreNosotros {
   display: grid; 

   grid-template-rows: 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   
   gap: 0px;
   height: 100%;
   
}
  
#item-0 {

   /* background-color: #dbe679;  */
   grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 3;
   
}
#item-1 {

   /* background-color: #db7cbf;  */
   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 2;
   grid-column-end: 2;
   
}
#item-2 {

   /* background-color: #7dbc6b;  */
   grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 2;
   grid-column-end: 3;
   
}

