<div class="video-container">
  <video autoplay muted loop>
    <source src="/images/video.mp4" type="video/mp4" />
  </video>
  <div class="caption">
    <div class="mainMenu">

      <div class="text1">
        <p>¡Bien venidos!</p>
      </div>

      <div class="text2">
        <h4>
          <b>"Jesus le dice:</b> <span class="letTitle animat animate__animated animate__zoomInUp letTitleAnimation">Yo soy el camino, y </span> <br> <span  class="letTitle animat animate__animated animate__zoomInUp letTitleAnimation"> la verdad, y la vida"</span>
        </h4>
      </div>

      <div class="text3">
        <b>Juan: 14:6</b>
      </div>
    </div>
  </div>
</div>