<div class="video-container">
  <video autoplay muted loop>
    <source src="/images/video.mp4" type="video/mp4" />
  </video>
  <div class="caption">
    <div class="mainMenu">

      <div class="text1" id="">
        <p>¡Bien venidos!</p>
      </div>

      <div class="text2">
        <div class="container-text">
          <b id="item-00">"Jesus le dice:</b>
           <span class=" animate__animated animate__zoomInUp" id="item-11">Yo soy el camino y </span>
            <span  class="animat animate__animated animate__zoomInUp" id="item-22">   la verdad, y la vida"</span>
        </div>
      </div>

      <div class="text3">
        <b>Juan: 14:6</b>
      </div>
    </div>
  </div>
</div>