

  <div class="rendered-form">
    <div class="formbuilder-text form-group field-nombre">
      <label for="nombre" class="formbuilder-text-label">Nombre<span
          class="formbuilder-required"
        >*</span></label>
      <input
        type="text"
        placeholder="Username"
        class="form-control"
        name="nombre"
        access="false"
        id="nombre"
        required="required"
        aria-required="true"
      />
    </div>
    <div class="formbuilder-text form-group field-telefono">
      <label for="telefono" class="formbuilder-text-label">Teléfono<span
          class="formbuilder-required"
        >*</span></label>
      <input
        type="tel"
        placeholder="Teléfono"
        class="form-control"
        name="telefono"
        access="false"
        id="telefono"
        required="required"
        aria-required="true"
      />
    </div>
    <div class="formbuilder-text form-group field-email">
      <label for="email" class="formbuilder-text-label">Email<span
          class="formbuilder-required"
        >*</span></label>
      <input
        type="email"
        placeholder="Email"
        class="form-control"
        name="email"
        access="false"
        id="email"
        required="required"
        aria-required="true"
      />
    </div>
    <div class="formbuilder-textarea form-group field-message">
      <label for="message" class="formbuilder-textarea-label">Mensaje<span
          class="formbuilder-required"
        >*</span></label>
      <textarea
        type="textarea"
        class="form-control"
        name="message"
        access="false"
        id="message"
        required="required"
        aria-required="true"
      ></textarea>
    </div>
    <div class="formbuilder-button form-group field-button-1689489916595">
      <button
        type="button"
        class="btn-primary btn"
        name="button-1689489916595"
        value="Enviar"
        access="true"
        role="1"
        style="primary"
        id="button-1689489916595"
      >Button</button>
    </div>
  </div>
