<header>
  <div class="contLog">
    <div>
      <img class="logoidec" src="./images/IDEC.jpg" alt="" />

    </div>
    <div class="letTitle">
      <span>Iglesia de Dios</span>
      {{! <br> }}
      <b>Tiempos de Gloria</b>
    </div>
  </div>

  <nav class="mynav">
    <ul class="listNav">
      <li><a href="/">HOME</a></li>
      <li><a href="/" class="not">Publicaciones</a></li>
      <li><a href="/" class="not">Biblia-RV 1960</a></li>
      <li><a href={{book}} target="_blank">Libro Enoc</a></li>
      <li><a href="/new-upload-file" target="_blank">Upload</a></li>
      <li><a href="/" class="not">Contactar</a></li>

    </ul>
  </nav>
  
</header>