{{!-- <div class="card"> --}}
    <div class="header">
        <img src="./images/IDEC.jpg" alt="">
    </div>
    <div class="infoo">
        <p class="titlee">Historia IDEC</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
            molestiae quas vel sint commodi. </p>
    </div>

{{!-- </div> --}}

