<section class="gallery">
	<div class="row">
		<ul>
			<a href="#" class="close"></a>
			<li>
				<a href="#item01">
					<img src="./images/IDEC.jpg" alt="">
				</a>
			</li>

			<li>
				<a href="#item02">
					<img src="./images/logo-idec.png" alt="">
				</a>
			</li>

			<li>
				<a href="#item03">
					<img src="./images/IDEC.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item04">
					<img src="./images/IDEC.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item05">
					<img src="./images/IDEC.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item06">
					<img src="./images/IDEC.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item07">
					<img src="./images/IDEC.jpg" alt="">
				</a>
			</li>
			<li>
				<a class="image" href="#item08">
					<img src="./images/IDEC.jpg" alt="">
				</a>
			</li>
		</ul>
	</div> <!-- / row -->

	<!-- Item 01 -->
	<div id="item01" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Item 01</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
			</div>

				<img src="./images/IDEC.jpg" alt="">
			</div>
		</div> <!-- / row -->

	</div> <!-- / Item 02 -->

	<!-- Item 02 -->
	<div id="item02" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Item 02</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
			</div>
			<img src="./images/logo-idec.png" alt="">
		</div> <!-- / row -->

	</div> <!-- / Item 02 -->

	<!-- Item 03 -->
	<div id="item03" class="port">
	
		<div class="row">
			<div class="description">
				<h1>Item 03</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis libero erat. Integer ac purus est. Proin erat mi, pulvinar ut magna eget, consectetur auctor turpis.</p>
			</div>
			<img src="./images/logo-idec.png" alt="">
		</div> <!-- / row -->

	</div> <!-- / Item 03 -->

</section> <!-- / projects -->
