<article class="nosotros">
  <div class="mb-3" style="max-width: 760px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="https://raw.githubusercontent.com/anonymous-sys19/IDEC/main/src/public/images/IDEC.jpg"
          class="img-fluid rounded-start"
          alt="..."
        />
      </div>
      <div class="row">
        <div class="card-body item  float-end">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below
            as a natural lead-in to additional content. This content is a little
            bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
    </div>
  </div>
  
</article>

<style>
  .nosotros{ justify-content: space-around; display: grid; margin: 2rem auto;
  padding: initial; width: -webkit-fill-available; }
</style>