
<div class="main">
  <div class="sobreNosotros">

    <div id="" class="box1">
      <div class="card">
        <div class="card-body"> 
          {{! Card }}
          <div class="header">
            <img src="./images/IDEC.jpg" alt="" />
          </div>
          <div class="infoo">
            <p class="titlee">Sobre Nosotros</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
              mollitia, molestiae quas vel sint commodi.
            </p>
          </div>

        </div>
      </div>
    </div>

    <div id="" class="box2">
      <div class="card">
        <div class="card-body">
          {{! CARD }}
          <div class="header">
            <img src="./images/IDEC.jpg" alt="" />
          </div>
          <div class="infoo">
            <p class="titlee">Que es IDEC</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
              mollitia, molestiae quas vel sint commodi.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="item-0" class="box3">
      <div class="card">
        <div class="card-body">
          {{! CARD }}
          <div class="header">
            <img src="./images/IDEC.jpg" alt="" />
          </div>
          <div class="infoo">
            <p class="titlee">Historia IDEC</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime
              mollitia, molestiae quas vel sint commodi.
              Lorem, ipsum dolor sit amet consectetur adipisicing 
              elit. Consequatur, laborum at nulla ex minus eveniet 
              laboriosam ad dicta dolores ullam repellat blanditiis
               autem quod nam illo distinctio. Sit, maxime deleniti
                fuga eaque repudiandae, corrupti laboriosam dolor
                 ullam, expedita necessitatibus quis molestias
                  officiis magnam laudantium provident unde odit
               accusantium fugiat quos modi beatae accusamus. Nisi, a.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
{{>footer}}