
<section class="section my-4">
  <div class="container text-center">
    <div class="title py-5">
      <h1>Node File Uploader</h1>
      <p class="subtitle">Upload Images to the <strong>Server</strong></p>
    </div>

    <div class="row justify-content-center">
      <div class="cont-Form">
        <form
          action="/upload"
          enctype="multipart/form-data"
          method="POST"
        >
          <div class="rowI">
            <div class="colF">
              <input
                type="file"
                class="formInput"
                name="image"
                accept="image/*"
                id="formFile"
                required
                multiple
              />
              <label for="mensaje"> Texto Superpuesto</label>
               <input type="text" name="mensaje"  placeholder="Escribe un msj, #EVENTO">
            </div>
            <div class="colB">
              <button
                type="submit"
                class="btn btn-warning"
              >Subir</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>