{{> header}}
<div>
  <div class="container">
    <h2 class="cl-red">
      Historia
    </h2>
    <h2>
      Iglesia de Dios
    </h2>
  </div>
  <div class="container">
    <p>
      La Iglesia de Dios data su origen desde el día jueves 19 de agosto de 1886, cuando un grupo de ocho hermanos,
      liderados por Richard G. Spurling, ministro bautista, inconformes con la frialdad y mundanalidad de la iglesia,
      decidieron unirse para estudiar la Biblia, orar, vivir en santidad y experimentar el evangelio de poder. El
      objetivo era “restaurar el cristianismo primitivo y lograr la unión de todas las denominaciones” (Conn, C., “Como
      Ejército Poderoso” 1995, p.7). Este fue un verdadero movimiento de reforma que ocurrió en el Condado Monroe,
      Tennessee; cerca de la frontera con Carolina del Norte.
    </p>

    <p>
      Después de diez años de estudio de la Biblia y de predicar la vida de santidad y la experiencia de la
      santificación, la pequeña iglesia experimentó el primer derramamiento del Espíritu Santo; y así comenzó el gran
      movimiento pentecostal moderno. Esto ocurrió en el año 1896.

    </p>


    <p>
      La Iglesia de Dios es la primera iglesia pentecostal de la época moderna (Walton, R. “Chronological and background
      Charts of Church History” 1986, chart 73). Una década después se dio el gran avivamiento de la Calle Azusa, en
      California, en el año 1906.
    </p>

    <p>
      El primer nombre que le dieron a la naciente iglesia fue Unión Cristiana, en 1886. En 1902 le cambiaron el nombre
      a Iglesia de Santidad, por la influencia de los movimientos de santidad derivados del Metodismo wesleyano.
      Finalmente, en 1907, le cambiaron el nombre a Iglesia de Dios; ese ha sido el nombre de nuestra amada iglesia
      hasta la fecha.

    </p>
  </div>

  <div class="container">
    <div class="container">
      <h3>
        En Guatemala
      </h3>
    </div>
    <div class="container">
      <p>
        La historia de la Iglesia de Dios de Guatemala es igualmente interesante. En el año 1916 vinieron dos jóvenes
        misioneros norteamericanos de la Iglesia Metodista, los hermanos Carlos Furman y Tomás Pullin. Llegaron por
        barco a Puerto Barrios, y desde allí viajaron a Totonicapán para predicar el evangelio con especial énfasis en
        la doctrina de la entera santificación, que es la doctrina distintiva del movimiento metodista.

      </p>

      <p>
        Por 16 años estos misioneros se dedicaron a la enseñanza del cristianismo bíblico, de modo que en el corazón de
        los hermanos comenzó a arder el deseo de vivir el cristianismo primitivo, así como lo vivieron los apóstoles de
        Jesucristo y los primeros cristianos, según se registra en el libro de los Hechos.
      </p>


      <p>
        El día miércoles 13 de abril de 1932, la pequeña iglesia que había estado orando y anhelando la llenura del
        Espíritu Santo, recibió la respuesta del Señor. El Espíritu Santo se derramó y los hermanos fueron bautizados.
        Esto ocurrió en la ciudad de Totonicapán.
      </p>

      <p>
        Este derramamiento del Espíritu Santo dio origen a la Iglesia de Dios de Guatemala; pues dos años después, en
        1934, el hermano J.H. Ingram, misionero de la Iglesia de Dios, vino a Guatemala y le dio cobertura al naciente
        movimiento pentecostal, porque la Iglesia Metodista se negó a reconocerlo.

      </p>


      <p>
        Damos gracias a Dios por todas las iglesias evangélicas de Guatemala, pero es motivo de gozo y también de gran
        responsabilidad pertenecer a la primera iglesia pentecostal del país.

      </p>


      <p>
        El crecimiento de la Iglesia ha hecho necesaria una organización dinámica. Fue así que se organizó, en primer
        lugar, el Territorio Occidente, con sede en Quetzaltenango (1955). Luego se organizó el Territorio Norte, con
        sede en Santa Cruz del Quiché (1955). Posteriormente se organizó el Territorio Central, con sede en la ciudad
        Capital (1955). Así sucesivamente se organizó el Territorio Noroeste, con sede en Huehuetenango (1983). El
        Territorio Sur, con sede en San Martín Zapotitlán, Retalhuleu (1983). El Territorio Noreste, con sede en Gualán,
        Zacapa (1983). El Territorio Norte Central, con sede en Cobán, Alta Verapaz (1984). El Territorio Petén, con
        sede en San Benito, Petén (1984). El Territorio Oriente, con sede en Ipala, Chiquimula (2017). El Territorio
        Suroccidente, con sede en Malacatán, San Marcos (2017). El Territorio Ixcán, con sede en Playa Grande, Ixcán
        (2018).
      </p>


      <p>
        La Iglesia de Dios de Guatemala debería celebrar cada año, en el mes de Abril, su historia y por sobre todo, su
        bendita herencia e identidad pentecostal.
      </p>

      <p>
        Cada iglesia local también debe escribir su historia particular y transmitirla a sus miembros. Es triste
        pertenecer a una iglesia que desprecia su historia. Un cristiano sin memoria histórica no tiene identidad, no
        sabe apreciar la gracia de Dios a través del tiempo, no conoce sus raíces, y por lo tanto, cualquier viento de
        doctrina lo arrastra.
      </p>

      <p>
        La fe cristiana es una fe histórica y los cristianos debemos apreciar esta historia. Nuestro mejor ejemplo es el
        pueblo de Israel, un pueblo con fuerte identidad, que conoce su origen e historia.

      </p>


      <p>
        <b>
          Nota:
        </b>
        La Iglesia de Dios en nuestro país se identifica como “Iglesia de Dios Evangelio Completo de Guatemala”; esto se
        debe a que cuando se hizo el trámite legal para registrarla ante el Ministerio de Gobernación, en 1959, ya
        estaba inscrita otra organización religiosa con el nombre de Iglesia de Dios; por esa razón se le agregó el
        distintivo “Evangelio Completo de Guatemala” (Personería Jurídica, Guatemala, 13 de Julio de 1959).
      </p>
    </div>

{{!-- <iframe src="https://www.facebook.com/plugins/video.php?height=315&href=https%3A%2F%2Fwww.facebook.com%2Ftiemposdegloria2%2Fvideos%2F1157241049013447%2F&show_text=true&width=560&t=0" width="560" height="430" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe> --}}

    <div class="fb-post" 
      data-href="https://www.facebook.com/20531316728/posts/10154009990506729/"
      data-width="500">
    </div>
  </div>


